@import url('https://fonts.googleapis.com/css?family=VT323');
html,body {
  overflow:hidden;
  margin:0px;
}
canvas {
  width:100vw;
  height:100vh;
}

#score {
  position: fixed;
  text-align:center;
  width:100vw;
  color:#fff;
  font-family:'VT323';
  font-size:36px;
  animation:peak 5s ease infinite; 
}

@keyframes peak {
  0% { opacity:0; }
  30% { opacity:1; }
  70% { opacity:1; }
  100% { opacity:0; }
}